@{
    ViewData["Title"] = "Class List";
}

<div class="partial">
</div>
@section Scripts {
    <script>
        $(document).ready(() => {
            console.log('@Url.Action("Search", "Classes")')
            $('.partial').load('@Url.Action("Search", "Classes")');
        })
    </script>
}
